body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:40px;
  width:310px;
  height:182px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:182px;
}
#u3 {
  position:absolute;
  left:2px;
  top:83px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:165px;
  top:60px;
  width:80px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:166px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:430px;
  top:40px;
  width:310px;
  height:180px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:180px;
}
#u9 {
  position:absolute;
  left:2px;
  top:82px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:548px;
  top:64px;
  width:72px;
  height:72px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u11 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:548px;
  top:166px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:430px;
  top:261px;
  width:310px;
  height:180px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:180px;
}
#u15 {
  position:absolute;
  left:2px;
  top:82px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:530px;
  top:390px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:548px;
  top:310px;
  width:65px;
  height:46px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:46px;
}
#u19 {
  position:absolute;
  left:2px;
  top:15px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:261px;
  width:310px;
  height:180px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:180px;
}
#u21 {
  position:absolute;
  left:2px;
  top:82px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:170px;
  top:298px;
  width:70px;
  height:70px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:150px;
  top:390px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
